DB_NAME=goodair_dw
DB_USER=postgres
DB_PASSWORD=YOUR_PASSWORD
DB_HOST=localhost
DB_PORT=5432

AQICN_API_KEY=YOUR_KEY
OPENWEATHER_API_KEY=YOUR_KEY

MINIO_ACCESS_KEY=YOUR_ACCESS_KEY
MINIO_SECRET_KEY=YOUR_SECRET_KEY